<a href="https://colab.research.google.com/github/james-monahan/french/blob/main/French_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
link = "https://raw.githubusercontent.com/james-monahan/french/main/RFI%20french%20vocab%20-%20Sheet1.csv"

In [59]:
import pandas as pd
import numpy as np
from IPython.display import clear_output

In [18]:
df = pd.read_csv(link)
df['times_reviewed'] = 0

In [19]:
df.head()

                                    French  ... times_reviewed
0                        d'une envergure,   ...              0
1             d’une ampleur exceptionnelle  ...              0
2                        contre une rançon  ...              0
3              allumeront leur ordinateur.  ...              0
4  personne n'avait jamais rien vu de tel.  ...              0

[5 rows x 4 columns]

In [64]:
def review_vocab_fr_to_eng(df, times):
  idx = []
  for _ in range(times):
    choice = np.random.choice(df.shape[0])
    idx.append(choice)
    print(df.loc[choice, 'French'])

    if input() == '':
      print(df.loc[choice, 'English'])  
    df.loc[choice, 'times_reviewed'] += 1
    print()

  print("clear input")
  if input() =='':
    clear_output()

  for _ in range(times):
    print(df.loc[idx[_], 'English'])
    x = input()
    if x == '':
      print(df.loc[idx[_], 'French'])  
    print()

In [65]:
review_vocab_fr_to_eng(df,2)

nobody had ever seen anything like it.

personne n'avait jamais rien vu de tel.

narcissistic

narcissique